body{
    background: #BDBDBD;
}

.image {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 1080px;
}

.titulos {
    font-size: 10rem;
    font-weight: 500;
}

.titulos-1 {
    font-size: 6rem;
    font-weight: 500;
}