<!-- your html code here -->
<div class="container">
<div>
    <H4>Porfolio</H4>
</div>
<div>
    <h7>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, dignissimos enim eaque accusamus incidunt debitis. Consequatur quos vero expedita officia nobis quae aspernatur facilis cum accusantium aut! Ducimus, rem optio.</h7>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 pt-3">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title" style="color: #3B7CAC;">Project Name</h4>
        <p class="card-text small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil reprehenderit ullam fuga totam harum, modi sed repudiandae. Sapiente doloribus sequi earum adipisci aliquam, deleniti natus at, consequatur facilis, animi eaque?</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title" style="color: #3B7CAC;">Project Name</h4>
        <p class="card-text small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, consequatur hic voluptas ipsum quisquam doloribus tempore quas doloremque aliquid, laboriosam laudantium magnam in unde sequi veritatis placeat reprehenderit? Alias, modi.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title" style="color: #3B7CAC;">Project Name</h4>
        <p class="card-text small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit sequi eos sunt veritatis magni assumenda pariatur consequuntur alias rerum optio magnam, quos non explicabo. Tempore eos sit harum eaque ea.</p>
      </div>
      
    </div>
  </div>
</div>

</div>